.header__burger {
  display: none;
  border: none;
  position: relative;
  width: 24px;
  height: 20px;
  padding: 0;
  cursor: pointer;
  background: none;
}

@media screen and (max-width: 540px) {
  .header__burger {
    display: block;
    margin-right: 30px;
  }
}

.header__burger:before {
  content: '';
  background-color: #FFFFFF;
  position: absolute;
  width: 100%;
  height: 2px;
  top: 0;
  left: 0;
  transition: all .6s ease;
}

.header__burger:after {
  content: '';
  background-color: #FFFFFF;
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  transition: all .6s ease;
}