.header-nav__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  column-gap: 24px;
}

@media screen and (max-width: 540px) {
  .header-nav__list {
    flex-direction: column;
    row-gap: 18px;
    justify-content: center;
    text-align: center;
  }
}