.photo-gallery__item {
  background-color: #ffffff;
  color: #000000;
  border-radius: 10px;
  display: grid;
  grid-template-columns: minmax(241px, 1000px) auto;
  grid-template-rows: auto 79px;
  align-items: center;
  margin: 0 auto;
  position: relative;
  top: 0;
  left: 0;
}
